# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BaiduNetdiskDownload\1、黑马程序员Java项目《苍穹外卖》企业级开发实战\资料\资料\day01\后端初始工程\java03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
